<!doctype html>
<html lang="en">
<head>
    <title>SAD</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="icon" type="image/png" href="https://tse1.mm.bing.net/th?id=OIP.EwBq7_HN5JNATn7pxd9qWQHaKd&pid=Api&P=0&h=180">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"     integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
</head>
<body>
    <header id="header-ind">
        <!-- place navbar here -->
    </header>
    <main>
        <div id="app" class="container">
            <div class="position-absolute top-10 start-50 translate-middle">
                <h1 style="color: aliceblue" class="p-3 mb-2 bg-dark text-white">Pacientes</h1>
                <br>
            </div>
            <div class="container2">
                <a  class="btn btn-success m-1" href="./html/paciente_new.html">New Pacient</a>
                <!--<a  class="btn btn-dark m-1" v-on:click="buscarPaciente()">Serch Pacient</a> -->
                <br><br>
                <div v-if="error">
                    <p class="p-3 mb-2 bg-dark text-white">Lo sentimos, ocurrio un error. Intente volver a cargar el sitio</p>
                </div>
                <div v-else>
                    <section v-if="cargando">
                        <div class="spinner-border"></div>
                        <p>..Loading..</p>
                    </section>
                    <section v-else>
                        <div id="table" class="table-responsive">
                            <table class="table table-bordered table-hover table-light">
                                <thead class="table-dark">
                                    <tr>
                                        <th scope="col">Id</th>
                                        <th scope="col">Nombres</th>
                                        <th scope="col">Apellidos</th>
                                        <th scope="col">DNI</th>
                                        <th scope="col">Fecha Nacimiento</th>
                                        <th scope="col">Obra Social</th>
                                        <th scope="col">Direccion</th>
                                        <th scope="col">Foto paciente</th>
                                        <th scope="col">Accion</th>
                                    </tr>
                                </thead>
                                <tbody class="table-group-divider">
                                    <tr class="table table-light table-hover"  v-for="paciente in pacientes">
                                        <td scope="row">{{paciente.id}}</td> 
                                        <td>{{paciente.nombres}}</td>
                                        <td>{{paciente.apellidos}}</td>
                                        <td>{{paciente.dni}}</td>
                                        <td>{{paciente.fechanacimiento}}</td>
                                        <td>{{paciente.obrasocial}}</td>
                                        <td>{{paciente.direccion}}</td>
                                        <td>
                                            <img width="60"  :src="paciente.imagen" :alt="paciente.nombre">
                                        </td>
                                        <td>
                                    <a class="btn btn-primary m-1" :href="'./html/paciente_update.html?id='+ paciente.id" >Modificar</a>
                                        <button type="button" class="btn btn-danger m-1" v-on:click="eliminar(paciente.id, paciente.nombres,paciente.apellidos)" >Borrar</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </section>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <!-- place footer here -->
    </footer>
        <!--Link de Bootstrap-->
    <script 
    src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
    <script src="./js/main.js"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script><!--Link de VUE-->
    <script src="./js/pacientes.js"></script>
</body>
</html>
